@model IEnumerable<TokoCiLeni.Models.Seller>

@{
    ViewData["Title"] = "Index";
}

<h1>Data Seller</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayName("Nama Seller")
            </th>
            <th>
                @Html.DisplayName("Id Seller")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAdminNavigation.IdAdmin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSeller">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSeller">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSeller">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
